.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sketch-pad {
    width: 600px;
    height: 600px;
    display: flex;
}

.columns {
    border: none;
    outline: 1px black solid;
    margin: 0px;
    
    
}

.rows {
    border: none;
    outline: 1px black solid;
    margin: 0px;
   
}
