.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sketch-pad {
    width: 600px;
    height: 600px;
    display: flex;
    outline: 1px black solid;
    margin-bottom: 150px
}

.columns {
    border: none;
    margin: 0px;
}

.rows {
    border: none;
    margin: 0px;
}

.black {
    border: none;
    margin: 0px;
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: center;
}

button.canvas {
    padding: 18px;
    font-size: 30px;
    margin-top: 50px;
}

.sketch-pad-2 {
    width: 600px;
    height: 600px;
    display: flex;
    outline: 1px black solid;
    margin-bottom: 150px
}